<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.LastFirst}}</title>
    <style>

      @page {
        size: letter;
      }
      
      @media print {
        .noprint {
          display: none !important;
        }
      }

      .search {
        display: block;
        position: absolute;
        top: 0;
        left: 550px;
      }

      .redbold {
        color: red;
        font-weight: bold;
      }
      
      body {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 8in;
      }
      
      h1 { 
        font-size:28px; 
      }

      table {
        table-layout: fixed;
        width: 8in;
        border-collapse: collapse;
        border: 1px solid black;
      }

      th, td {
        border: 1px solid black;
        padding: 0.25em 0.5em;
        text-wrap: wrap;
      }

      p, td, th, tfoot td {
        font-size: 0.75em;
      }

      .footer {
        height: 25px;
        font-weight: 700;
        text-align: center;
      }
  </style>
</head>
<body>
    <h1>{{__ "title"}}</h1>
    {{{body}}}
    <p>{{__ "description"}} {{__ "description2"}}</p>
    <p>{{__ "description3"}}</p>
    <div>
        <table>
          <colgroup>
            <col style="width: 25%;">
            <col style="width: 75%;">
          </colgroup>
            <thead>
                <tr>
                    <th>{{__ "field"}}</th>
                    <th>{{__ "value"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" class="footer">
                  {{__ "prepared"}}
                </td>
              </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>